@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#app {
  flex: 1;
}

body {
  display: flex;
  min-height: 100vh;
  max-width: 100%;
  font-family: var(--ff-primary);
  background-color: var(--clr-very-dark-grey);
  color: var(--clr-almost-white);
}
